@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas/BebasNeue.woff') format('woff'),
   url('../fonts/bebas/BebasNeue.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geosans Light';
  src: url('../fonts/geo-sans-light/GeosansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#category-header h2.title {
  font-size: 70px;
  line-height: 70px;
  font-family: 'Bebas Neue';
  color: #fff;
  margin-bottom: 0;
}

#category-header h5.sub-title {
  font-style: italic;
  font-size: 25px;
  line-height: 25px;
  font-family: 'Geosans Light';
  color: #fff;
  margin: 0;
  font-weight: 600;
}

#category-header.artist-series h2.title {
  font-size: 25px;
  line-height: 25px;
  font-family: 'Geosans Light';
  font-weight: 600;
  margin-bottom: 10px;
}

#category-header.artist-series h5.sub-title {
  font-family: 'Bebas Neue';
  font-size: 74px;
  line-height: 1;
  font-style: normal;
  font-weight: 500;
}

#category-header.artist-series h5.sub-title span.red {
  color: #e30613;
}

#category-header.value-series h5.sub-title {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-size: 70px;
  line-height: 70px;
  color: #fff;
  margin-bottom: 0;
}


#category-header.value-series h5.sub-title span.red {
  color: #e30613;
}

#category-header.about-us h2.title {
  font-size: 68px;
  line-height: 55px;
  font-family: 'Geosans Light';
  font-weight: 300;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#category-header.about-us h5.sub-title {
  font-size: 190px;
  line-height: 160px;
  font-family: 'Geosans Light';
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.product-shots .wpb_column {
  margin: 0;
}

/* -- Creative */
#category-header.creative-heading h2.title {
  font-size: 46px;
  line-height: 46px;
  text-transform: uppercase;
  font-family: 'Geosans Light';
}

#category-header.creative-heading h5.sub-title {
  font-family: 'Bebas Neue';
  font-size: 70px;
  line-height: 70px;
  font-style: normal;
  margin-top: 5px;
}

/* -- Our Canvas */
#category-header.our-canvas h2.title {
  font-size: 25px;
  line-height: 1.5;
  font-family: 'Geosans Light';
  font-weight: 600;
  letter-spacing: 1.4px;
}

#category-header.our-canvas h5.sub-title {
  font-size: 25px;
  line-height: 1.5;
  font-style: normal;
  text-transform: uppercase;
}

#category-header.our-canvas h5.sub-title span.red {
  color: #e30613;
}

/* -- Wood */
#category-header.wood h2.title {
  font-size: 25px;
  line-height: 1.5;
  font-family: 'Geosans Light';
  font-weight: 600;
  letter-spacing: 1.4px;
}

#category-header.wood h5.sub-title {
  font-size: 70px;
  line-height: 1.1;
  font-style: normal;
  text-transform: uppercase;
  font-family: 'Bebas Neue';
}

/* Menu */
.fm-menu-links a {
  font-size: 32px;
}

.no-touch .fm-menu-links a:hover,
.fm-menu-links a:active,
.fm-menu-links li.js-opened > a,
.fm-menu-links li > a:active,
.fm-menu-links li a.active {
  color: #ee1c24;
}

.product-shots {
  margin-top: 40px;
  margin-bottom: 40px;
}

.product-view {
  font-family: 'Geosans Light';
}

.product-view .col-md-4 {
  border-right: 1px solid;
}

.product-view h2 {
  font-size: 70px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: 'Geosans Light';
}

.product-view h2 .rotated {
  font-size: 20px;
  text-transform: uppercase;
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  display: inline-block;
  margin: 0 0 0 -14px;
  position: relative;
  top: -18px;
}

.product-view h2.small {
  font-size: 43px;
  line-height: 50px;
}

.product-view h2.small .rotated {
  font-size: 12px;
}

ul.sidebar-list {
  list-style: none;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
}

ul.sidebar-list a {
  text-decoration: none;
  padding: 4px 10px 5px;
}

ul.sidebar-list a:hover {
  background-color: #e30613;
  color: #fff;
}


/* product */
h1.product-series {
  font-family: 'Geosans Light';
  font-size: 60px;
  margin: 0 0 15px;
}

.fredrix-products h3.title {
  margin: 0 0 15px;
}

.fredrix-products p.description {
  font-size: 16px;
}

.fredrix-products.nav-tabs {
  border: none;
}

.fredrix-products.nav-tabs li a {
  margin: 0;
  border-radius: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.nav-tabs>li {
  margin-bottom: 0;
}

.nav-tabs>li>a {
  line-height: auto;
}

.fredrix-products.nav-tabs li {
  border: none;
  float: none;
  font-family: 'Geosans Light';
  font-weight: 600;
}

.fredrix-products.nav-tabs li.active a,
.fredrix-products.nav-tabs li:hover a {
  border: none;
  background-color: #e30613;
  color: white;
  text-decoration: none;
}

.fredrix-products.tab-content {
  vertical-align: top;
  padding: 0;
}

.fredrix-products.tab-content table {
  margin-top: 25px;
}

.fredrix-products.tab-content .table-striped>tbody>tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.st-btn-margin {
  margin: 80px auto 120px;
}

.store-locator-btn {
  background: #ee1c24 none repeat scroll 0 0;
  font-family: 'Bebas Neue';
  color: #fff;
  display: inline-block;
  font-size: 70px;
  padding: 0;
  text-decoration: none;
  width: 100%;
  padding-top: 15px;
}

.store-locator-btn:hover {
  color: #fff;
  text-decoration: underline;
  background-color: #ff4b3c;
}

/* About */
#about-content {
    padding-top: 50px;
}

.about-img {
  float: left;
  margin-right: 25px;
}

.about-fredrix {
  color: #111;
  font-family: 'Geosans Light';
  font-weight: 400;
  font-size: 32px;
}

/* Featured Artist */
p.artist-name {
  font-size: 32px;
  margin-bottom: 0;
  background-color: #111;
  color: #fff;
  padding: 2px 15px;
}

.artist-bio {
  color: #111;
  font-family: 'Geosans Light';
  font-weight: 600;
  font-size: 18px;
}

.red-heading {
  margin-bottom: 25px;
}

.red-heading h3 {
  color: #fff;
  background-color: #ee1c24;
  font-family: 'Geosans Light';
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 25px;
}

/* Customer Hub */
/*ul.hub-filters li {
  display: inline-block;
  width: 30%;
  margin-right: 1%;
  padding: 5px 0;
  text-align: center;
  border: 1px solid black;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  transition: all 0.9s ease;
  cursor: pointer;
  margin-bottom: 15px;
}

ul.hub-filters li.active {
  background-color: #000;
}

ul.hub-filters li a {
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  width: 30%;
  margin-right: 1%;
  padding: 5px 0;
  text-align: center;
  border: 1px solid black;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  transition: all 0.9s ease;
  cursor: pointer;
  margin-bottom: 15px;
  color: 000;
}

ul.hub-filters li:hover {
  background-color: #000;
  color: #fff;
}

ul.hub-filters li.active a {
  border: none;
  background-color: transparent;
  color: #fff;
}

ul.hub-filters li a:hover {
  background-color: transparent;
  color: #fff;
}
ul.hub-filters li.active a:hover {
  border: none;
  background-color: transparent;
  color: #fff;
}*/

ul.hub-filters {
  border-bottom: none;
}

ul.hub-filters li {
    text-align: center;
    background-color: #fff;
    border: 1px solid #000;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    transition: all 0.9s ease;
    margin: 5px;
    width: calc(33.33% - 10px);
}

ul.hub-filters li:hover {
}

ul.hub-filters li.active {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

ul.hub-filters.nav-tabs li a {
  border-radius: 0;
  text-decoration: none;
  font-size: 22px;
  background-color: transparent !important;
  border: none;
  color: #000;
}

ul.hub-filters.nav-tabs li:hover,
ul.hub-filters.nav-tabs li:hover a {
  background-color: #000;
  color: #fff;
  border: none
}

ul.hub-filters.nav-tabs li:hover {
  border: 1px solid #000;
}

ul.hub-filters.nav-tabs li.active {
  color: #fff;
}

ul.hub-filters.nav-tabs li.active a {
  color: #fff;
  border: none;
}

ul.hub-filters.nav-tabs li.active a:hover{
  border: none;
  color: #fff;
}


/*
ul.hub-filters li a:hover {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}

ul.hub-filters li.active a {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}

ul.hub-filters li.active a:hover {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}*/

.hub-items .well {
  background-color: #fff;
  border-color: #ccc;
}

.hub-items .well p.title {
  margin: 10px 0;
  color: #000;
  font-size: 22px;
}

.hub-items .well a.dl-link {
  background: #ee1c24 none repeat scroll 0 0;
  font-family: 'Bebas Neue';
  color: #fff;
  display: inline-block;
  font-size: 22px;
  padding: 0;
  text-decoration: none;
  width: 100%;
  line-height: 1;
  padding: 17px 0 10px;
}

/* Hub Login */
#hub-login pre {
  background: 0;
  border: 0;
}

#hub-login .swpm-label {
  font-family: 'Geosans Light';
  font-size: 18px;
}

#hub-login .swpm-text-field {
  border: 2px solid #000;
  font-size: 22px;
  line-height: 2;
  padding: 5px 10px;
  height: 100%;
  width: 300px;
  display:inline-block;
}

#hub-login .form-group {
  margin-bottom: 0;
}

#hub-login .login-title {
  margin-top: 40px;
  margin-bottom: -70px;
  font-size: 28px;
  font-family: 'Geosans Light';
}

#hub-login .login-title h4 {
  font-size: 30px;
}

/* Hub Downloads */
.customer-hub-downloads {
    margin-bottom: 50px;
}

/* Pro Dixie Kit */
h1.pro-dixie-kit-title {
  font-size: 76px;
  line-height: 1;
  margin-bottom: 25px;
}

h1.pro-dixie-kit-title span.orange {
  color: orange;
}

p.pro-dixie-text {
  font-family: 'Geosans Light';
  font-size: 26px;
  color: #000;
  width: 80%;
  margin: 0 auto;
}

.em-vid {
    margin: 50px 0;
}

#find-us,
#find-us .section-title,
#find-us .ci-title,
#find-us .ci-text {
  font-family: 'Bebas Neue';
  font-weight: 400;
}

#find-us {
  margin-bottom: 60px;
}

#find-us .section-title {
  margin-bottom: 25px;
  margin-top: 60px;
  font-size: 28px;
}

#find-us .ci-title {
  font-size: 16px;
}

#find-us .ci-text {
  font-size: 20px;
}
/* Footer */
footer .footer-social-links {
  margin-bottom: 30px;
  margin-top: 50px;
}

footer .footer-social-links a {
  font-size: 26px;
  line-height: 45px !important;
  width: 45px;
  height: 45px;
  margin: 0 15px;
}

footer .footer-social-links a:hover:before {
  background-color: #ee1c24;
  border-color: #ee1c24;
}
footer.page-section {
  padding-top: 80px;
}
footer .menu li {
  width: 20%;
  display: inline-block;
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-style: normal;
}

footer .menu li a {
  font-size: 22px;
  color: #000;
}

footer .menu li a:hover {
  color: #ee1c24;
}
