/*==========  Non-Mobile First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    section#home-row-1,
    section#home-row-2,
    section#home-row-3 {
        padding-top: 30px;
    }
    section#about {
        margin-top:30px;
    }
    #find-us-container {
        width: 100%;
    }
    footer .menu li {
        width: 30%;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    section#home-header {
        background-image: none !important;
    }
    section#home-header .col-md-6 {
        padding-left: 40px;
    }
    section#home-header h2.title {
        font-size: 121px;
        line-height: 1;
    }

    section#home-header .quote {
        padding: 0 10px;
    margin: 0 0 0 -25px;
    }
    section#home-header h2.title.canvas {
        line-height: 47px;
    }
    section#home-header .quote.sig {
        padding: 0 10px;
    margin: 0 0 0 -25px;
    }
    section#home-row-1 .img-zoom:not(:first-child),
    section#home-row-2 .img-zoom:not(:first-child),
    section#home-row-3 .img-zoom:not(:first-child) {
        margin-top: 30px;
    }
    /* Titles */
    #category-header.artist-series h5.sub-title {
        font-size: 54px;
    }
    .product-shots .wpb_column {
        margin: 20px 0;
    }
    .product-shots .wpb_column:first-child {
        margin-top: 0;
    }
    .product-shots .wpb_column:last-child {
        margin-bottom: 0;
    }
    /* Pro Dixie */
    h1.pro-dixie-kit-title {
        margin-bottom: 25px;

        font-size: 55px;
        line-height: 1;
    }

    footer .menu li {
        width: 50%;
    }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    .product-shots .wpb_column {
        margin: 20px 0;
    }
    .product-shots .wpb_column:first-child {
        margin-top: 0;
    }
    .product-shots .wpb_column:last-child {
        margin-bottom: 0;
    }
    /* Main headings */
    #category-header h2.title {
        font-size: 60px;
        line-height: 1;
    }
    /* Pro Dixie */
    h1.pro-dixie-kit-title {
        margin-bottom: 25px;

        font-size: 55px;
        line-height: 1;
    }

    footer .footer-social-links a {
        font-size: 18px;
        line-height: 30px !important;
        width: 30px;
        height: 30px;
        margin: 0 10px;
    }
}
